---
const currentYear = new Date().getFullYear();
---

<footer class="container px-3 mx-auto py-5 sm:py-10">
	<p class="text-center text-xs">
		©{currentYear} - All Rights Reserved. A nonprofit organization and part of <a
			href="https://ummah.works"
			target="_blank">Ummah Works LLC</a
		>
	</p>
</footer>
